@model Data.Initiative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Details</h2>
<!--
<div>
    <h4>Initiatives</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UtilisateurID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilisateurID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_init)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_init)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statu_init)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statu_init)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_debu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_debu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objectifs_generaux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectifs_generaux)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obgectifs_specifiques)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obgectifs_specifiques)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description_court)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description_court)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description_detaillee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description_detaillee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approbateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approbateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cofinancement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cofinancement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
 -->
<div class="row">
    <div class="col-10 m-sm-auto">
        <article>
            <header>
                <div class="post-thumbnail">
                </div>
                <h2 class="entry-title">Nom Initiative : @Html.DisplayFor(model => model.Nom_init)</h2>
                <p> Obgectife Généraux @Html.DisplayFor(model => model.Objectifs_generaux)</p>
                <p> Obgectife specifique @Html.DisplayFor(model => model.Obgectifs_specifiques)</p>
            </header>
            <div class="post_content">
                <p>@Html.DisplayFor(model => model.Description_court)</p>
                <p>@Html.DisplayFor(model => model.Description_detaillee)</p>

                <p class="author">

                    <i class="fa fa-calendar"></i>
                    debut : @Html.FormatValue("yyy-MM-dd", Model.Date_debu.Value.Date.ToString("yyy-MM-dd"))
                    <i class="fa fa-calendar"></i> Fin : @Html.FormatValue("yyy-MM-dd", Model.Date_fin.Value.Date.ToString("yyy-MM-dd"))<br />

                    <strong>
                        @if (Model.Statu_init.Value)
                        {
                            <h6>Statu : Activer</h6>
                        }
                        else
                        {
                            <h6> Statu : Desactive</h6>

                        }

                    </strong>
                    <br />Approbateur :<strong> @Html.DisplayFor(model => model.Approbateur)</strong>
                    <br />Cofinancement :<strong> @Html.DisplayFor(model => model.Cofinancement)</strong>
                    <br />Region :<strong> @Html.DisplayFor(model => model.Regions)</strong>
                </p>
            </div>
            <!-- Tags -->
        </article>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "ml-5 btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
