@model Data.Programme

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Programme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom De Programme
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_prog)
        </dd>

        <dt>
            Objectif De Programme
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectif_prog)
        </dd>

        <dt>
            Date Debut
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_debut)
        </dd>

        <dt>
            Date Fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
