@model IEnumerable<Data.Programme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<p>
    @Html.ActionLink("Ajouter", "Create", null,new {@class="btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            Nom De Programme
        </th>
        <th>
            Objectif 
        </th>
        <th>
            Date debut 
        </th>
        <th>
            Date Fin 
        </th>
        <th>
            Donateur
        </th>
        <th>
            Budget (DH)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_prog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objectif_prog)
        </td>
        <td>
            @Html.FormatValue("yyy-MM-dd", item.Date_debut.Value.Date.ToString("yyy-MM-dd"))
        </td>
        <td>
            @Html.FormatValue("yyy-MM-dd", item.Date_fin.Value.Date.ToString("yyy-MM-dd"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.budget)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID },new {@class="text-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "text-success" }) 
            
        </td>
    </tr>
}
</table>
