@model MinisitreFin.Models.Groupe_thematiqe

@{
    ViewBag.Title = "AjouterAgenda";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}
<h2>Ajouter Agenda</h2>

@using (Html.BeginForm("CreateAgenda", "Agenda", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="form-horizontal">
        <hr />
        <input name="GroupId" id="GroupId" class="form-control" value="@Model.ID" hidden="hidden" />
        <div class="form-group">
            <label class="control-label col-md-2">Nom de l'Agenda</label>
            <div class="col-md-10">
                <input name="Nom_agenda" id="Nom_agenda" class="form-control" maxlength="250" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date Createion</label>
            <div class="col-md-10">
                <input name="Date_creation" id="Date_creation" class="form-control" value="@DateTime.Now" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour a la list","Index","Groupe",null,null)
</div>
