@model MinisitreFin.Models.GroupeIndex
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}
<h2>Liste de groupes</h2>

            @if (Model != null)
            {
<div class="card-deck">
    @foreach (var item in Model.GML)
    {
    <div class="card col-md-3 d-flex">
       
        <a href="@Url.Action("Consulte","Groupe",new {id=item.ID })">
            <img src="~/AppImg/logo-MF.jpg" class="card-img-top" alt="...">
        </a>
            <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Nom_groupe) /
                        <small class="text-muted">
                            @Html.FormatValue("yyy-MM-dd", item.Date_createion.Value.Date.ToString("yyy-MM-dd"))
                        </small>
                    </h5>
                    @if (User.IsInRole("Admin"))
                    {
                        <form action="/Groupe/UpdateStatu/@item.ID" method="post">
                            @Html.AntiForgeryToken()
                            @{
                                if (item.Statut.Value)
                                {
                                    <input type="submit" value="Active" class="btn btn-sm btn-outline-success" />
                                }
                                else
                                {
                                    <input type="submit" value="Désactivé" class="btn btn-sm btn-outline-danger" />
                                }
                            }
                        </form>
                    }
                    else
                    {
                        if (item.Statut.Value)
                        {
                            <small class="text-success">Active </small>
                        }
                        else
                        {
                            <small class="text-danger">Désactivé </small>
                        }
                    }
               
                
                    <div class="">
                        @{ var currentId = User.Identity.GetUserId();}
                        @if (item.CreatedByIdString == currentId)
                        {
                            @Html.ActionLink("Modifier", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-info" })
                        }
                        <a href="@Url.Action("GroupeActivites","Activites",new {idgroupe=item.ID ,IDCreate=item.CreatedByIdString})" class="btn btn-sm btn-outline-primary"><i class="fa fa-tasks"></i> Activites</a>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-warning" })
                    </div>

                    <small class="text-danger "><i class="fa fa-bell" aria-hidden="true"></i>@item.ActCount</small>
                
            </div>
        </div>
    }
</div>
                
            }else
            {
                if (TempData["Message"] != null)
                {
                    <div class="col-12">
                        <span class="badge badge-info">@TempData["Message"]</span>
                    </div>
                }
                else
                {
                    <span class="badge badge-info">Aucun groupe trouvé</span>
                }

            }
