@model MinisitreFin.Models.Articles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Détails</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @if (Model.Image != null)
            {
                <img src="~/AppImg/@Model.Image" width="500px" />
            }
            else
            {
                
            }

        </dt>
        <dt>
            Titre d'article
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre_article)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            Contenu Article
        </dt>

        <dd>
            @Html.Raw(Model.Contenu_article)
        </dd>
        <dt>
            Url video
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url_video)
        </dd>

        <dt>
            Date de Creation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_creation)
        </dd>
        <dt>
            Statut
        </dt>

        <dd>
            @if (Model.statu)
            {
                <h6>Active</h6>
            }
            else
            {
                <h6>Desactive</h6>
            }
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
