@using PagedList.Mvc;
@using PagedList;

@model IPagedList<MinisitreFin.Models.Initiatives>
@{
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}
<a href="@Url.Action( "Create","Initiatives1")" class="btn btn-info float-left mb-3">
    Ajouter <i class="fas fa-plus"></i>
</a>
<style>
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h1 class="h3 mb-4 text-gray-800 text-center">Liste des Initiatives</h1>
@if (Model != null)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom Initiative</th>
                    <th scope="col">Debut</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Approbateur</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Regions</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Nom_init)
                        </td>
                        <td>
                            @Html.FormatValue("yyyy-MM-dd", item.Date_debu.Value.Date.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @Html.FormatValue("yyyy-MM-dd", item.Date_fin.Value.Date.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Approbateur)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <form action="/Initiatives1/UpdateStatu/@item.ID" method="post">
                                    @Html.AntiForgeryToken()
                                    @{
                                        if (item.Statu_init.Value)
                                        {
                                            <input type="submit" value="Active" class="btn text-success" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Désactivé" class="btn text-danger" />
                                        }
                                    }
                                </form>
                            }
                            else
                            {
                                if (item.Statu_init.Value)
                                {
                                    <h6>Active</h6>
                                }
                                else
                                {
                                    <h6>Desactive</h6>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Regions)
                        </td>

                        <td class="act">
                            <a href="@Url.Action("Edit", "Initiatives1", new { id = item.ID })" class="column"><i class="far fa-edit"></i></a>
                            <a href="@Url.Action("Details", "Initiatives1", new { id = item.ID })" class="column  text-warning"><i class="fas fa-info-circle"></i></a>

                            <a href="@Url.Action("Create", "Projets", null)" class="column  text-success"><i class="fas fa-plus">P</i></a>
                        </td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
    <div class="center-block">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
        
    
}
else
{
    <div class="alert alert-primary text-center" role="alert">
        Aucune initiative trouvée
    </div>
}


@*<div class="card mb-5">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        ...
    </table>
</div>*@